@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #fff;
    --cor-terciaria: #FB2576;
    --cor-hover: #F73D93;

    --fonte-primaria: 'Poppins';
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;

}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link:hover{
    color: var(--cor-terciaria);
}

.cabecalho__menu__link{
    font-family: 'Poppins';
    font-size: 1rem;
    color: var(--cor-secundaria);
    text-decoration: none;

}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.imagem{
    width: 50%;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.paragrafo-destaque{
    color: var(--cor-terciaria);
    font-weight: 300;
}

.apresentacao__conteudo__texto{
    font-size: 1.25rem;
    font-family: 'Poppins';
    font-weight: 300;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.apresentacao__links__subtitulo{
    font-family: 'Poppins';
    font-size: 1.25rem;
    font-weight: 500;
}

.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 60%;
    text-align: center;
    border-radius: 16px;
    border: 2px solid var(--cor-terciaria);
    font-size: 1.25rem;
    font-family: 'Poppins';
    padding: 21px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover-links);
}

.rodape{
    padding: 20px;
    text-align: center;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 300;

}

.apresentacao__cv{
    padding: 5% 15%;
    display: flex;
    flex-direction: column;

}

.apresentacao__cv__titulo-nome{
    font-family: 'Poppins';
    font-size: 2.2rem;
    font-weight: 600;
}

.apresentacao__cv__titulo{
    font-family: var(--fonte-primaria);
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--cor-terciaria);
}

.apresentacao__cv__texto{
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 300;
}

.apresentacao__cv__titulo-contato{
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
    font-weight: 400;
}

.apresentacao__cv__link{
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 300;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.apresentacao__cv__link:hover{
    color: var(--cor-hover);
}



@media(max-width: 1200px) {
    
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .imagem{
        width: 50%;
    }
    
}